<footer class="page-footer font-small bg-secondary pt-4">


    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white " > siga-me nas redes sociais</h4></div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
          
          
                <ul class="social-network">
            <li><a href=""target="_blank" class="icon-facebook">
            <i class="fab fa-facebook-square"></i>



            </a>
        </li>

        <li><a href=""target="_blank" class="icon-github">
            <i class="fab fa-github"></i>





            </a>
        </li>

        <li><a href=""target="_blank" class="icon-linkedin">
            <i class="fab fa-linkedin"></i>





            </a>
        </li>
    </ul>

            </div>
        </div>

</footer>