<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id="img"></div>


        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="usuario.nome" type="text" class="form-control" placeholder="Seu Nome" name="nome" id="nome">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]="usuario.usuario" type="text" class="form-control" placeholder="Seu Usuário" name="usuario" id="usuario">

                    </div>


                    <div class="form-group">
                        <label for="link-foto">Link da foto</label>
                        <input [(ngModel)]="usuario.foto"type="text" class="form-control" placeholder="Seu link da foto" name="link-foto"
                            id="link-foto">

                    </div>


                    <div class="form-group">
                        <label for="senha">
                            Senha</label>
                        <input (input)='confirmSenha($event)' type="password" class="form-control" placeholder="Sua senha" name="senha" id="senha">

                    </div>

                    <div class="form-group">
                        <label for="confirmar senha">
                            Confirmar Senha</label>
                        <input [(ngModel)]="usuario.senha" type="password" class="form-control" placeholder="Confirme sua senha" name="confirmar senha"
                            id="confirmar senha">

                    </div>

                    <div class="form-group">
                        <label for="dataNascimento">
                           Data de nascimento</label>
                        <input [(ngModel)]="usuario.dataNascimento" type="date" class="form-control" placeholder="dd/mm/aaaa" name="dataNascimento" id="dataNascimento">
                      

                    </div>



                    <div class="form-group">
                        <label for="tipo">
                            Tipo de Usuário</label>
                        <select type="text" class="form-control" placeholder="Tipo" name="tipo" id="tipo" (change)="tipoUsuario($event)">
                            <option>Selecione o tipo de usuário:</option>
                            <option value="normal">Normal</option>
                            <option value="admin">Administrador</option>
                        </select>

                    </div>
                    <div class="d-flex justify-content-center
                ">
                        <button type="submit" class="btn btn-danger mr-4"routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-success"(click)="cadastrarUsuario()">Cadastrar</button>



                    </div>


                </div>
            </div>

        </div>
    </div>






</div>